.navbar {
  display: flex;
  align-items: center;
  background: rgb(161 35 79);
  justify-content: space-between;
  min-height: 4rem;
  padding: 0.5rem;
  color: white;
}

.brand {
  margin-left: 40px;
}

.settings {
  float: right;
  align-items: center;
  display: flex;
  padding-right: 30px;
  height: 100%;
}

.audio {
  padding-right: 30px;
}

.iconBack {
  color: #fff;
  font-size: x-large;
}

@media (max-width: 768px) {
  .brand {
    margin-left: 20px;
  }

  .brand h1 {
    font-size: 22px;
  }
}
