@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.card {
  margin: 10px;
  background: rgb(215, 55, 111);
  padding: 10px;
  width: 300px;
  height: 215px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 11px 8px #6c262c;
}

.list:nth-child(even) .card {
  background-color: rgb(161 35 79);
}

ul,
li {
  list-style: none;
  color: white;
}

.list {
  margin: -15px 0;
}

.descp {
  margin: 10px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: relative;
  left: 20px;
}

.descp h4,
p {
  color: #fff;
}

.descp p {
  font-family: 'Montserrat', sans-serif;
}

.descpDiv {
  display: flex;
  flex-direction: column;
}

.countryContainer {
  display: flex;
}

.countrylist {
  color: white;
  font-size: 17px;
  display: flex;
  flex-flow: wrap;
  margin: 5px 40px;
  justify-content: center;
}

.flag {
  width: 150px;
  align-self: flex-start;
  display: flex;
  border-radius: 10px;
}

.direct {
  font-size: x-large;
  position: relative;
  top: 45px;
  left: 135px;
  width: 22px;
}

.singleCountry {
  color: white;
  text-decoration: none;
}

.statsheading {
  display: flex;
  margin: 5px 50px;
  color: #fff;
  text-transform: uppercase;
  font-size: 17px;
}

@media (max-width: 768px) {
  .countryContainer {
    display: inline-flex;
  }

  .countrylist {
    display: grid;
    grid-template-columns: 0.5fr 0.75fr;
    margin: 1px;
  }

  .card {
    width: 150px;
    margin: 3px;
  }

  .direct {
    top: 38px;
    left: 65px;
  }

  .searchBar {
    margin: 10px;
  }

  .statsheading {
    margin: 8px;
    font-size: 16px;
  }

  .descp p {
    font-size: 11px;
  }

  .flag {
    width: 100px;
  }
}
